.element__like {
  padding: 0;
  width: 22px;
  height: 22px;
  background: transparent url('../../../images/like.svg') no-repeat center / 22px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.element__like:hover {
  opacity: 0.5;
}
