.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 2px;
  padding: 0;
  position: relative;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button::before {
  content: '';
  width: 22px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -11px;
}

.profile__add-button::after {
  content: '';
  width: 22px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -11px;
  transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    margin-left: 0;
    margin-top: 10px;
    /* calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    width: calc((100vw - 320px)/(768 - 320) * (336 - 282) + 282px);
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    width: 100%;
  }
}
