.popup__save-button {
  width: 100%;
  background: rgba(0, 0, 0, 1);
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s;
}

.popup__save-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1024px) {
  .popup__save-button {
    /* calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    font-size: calc((100vw - 320px)/(1024 - 320) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px)/(1024 - 320) * (22 - 17) + 17px);
  }
}

@media screen and (max-width: 320px) {
  .popup__save-button {
    /* calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    font-size: 14px;
    line-height: 17px;
  }
}
