.profile__info {
  max-width: 336px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 18px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    /* calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    gap: calc((100vw - 320px)/(768 - 320) * (16 - 14) + 14px) calc((100vw - 320px)/(768 - 320) * (18 - 10) + 10px);
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    gap: 14px 10px;
  }
}
